<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="UTF-8" />
      <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h1>Add new book</h1>
	</div>
	<div class="container">
 		<form th:object="${book}" th:action="@{save}" action="#" method="post"> 
 		
	<div class="form-group">
 				<label for="author">Author</label>
 				<input type="text" id="author" th:field="*{author}" class="form-control" autofocus="autofocus"/>
 				<span th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</span>
 			</div>
 			<div class="form-group">
 				<label for="title">Book Title</label>
 				<input type="text" id="title" th:field="*{title}" class="form-control"/>
 				<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</span>
 			</div>
 			<div class="form-group">
 				<label for="bookYear">Year</label>
 				<input type="text" th:field="*{bookYear}" class="form-control"/>
 				<span th:if="${#fields.hasErrors('bookYear')}" th:errors="*{bookYear}">Error</span>
 			</div>
 			<div class="form-group">
 				<label for="isbn">ISBN</label>
 				<input type="text" th:field="*{isbn}" class="form-control"/>
 				<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</span>
 			</div>
 			<div class="form-group">
 				<label for="price">Price</label>
 				<input type="text" th:field="*{price}" class="form-control"/>
 				<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</span>
 			</div>
 			<div class="form-group">
 				<label for="category">Books category</label>
 				<select id="category" th:field="*{category}" class="form-control">
 					<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
 				</select>
 			</div>

 				<input type="submit" value="Save" class="btn btn-success"></input>

		 </form>
		 
	</div>
		<div class="container" >
			<div class="col text-center">
				<a href="/logout" class="btn btn-primary">Kirjaudu ulos</a>
			</div>
		</div>
</body>
</html>